.homeView {
    padding: 1rem 0;

    &-container {
        text-align: center;
        width: 100%;
    }

    & .text-dynamique {
        width: fit-content;
        display: inline-block;
        line-height: 3.5vw;
        font-size: clamp(2.5vw, 2vw, 32px) !important;


        & span {
            background: linear-gradient(45deg, #6106fd, #0413e4, #11b4f0, #ea05ff, #a0ff08);
            background-size: 1000% 400%;
            animation: gradient 10s ease infinite;
            background-clip: text;
            color: transparent;
            display: block;

            &.nof {
                display: inline-block;
            }
        }

        // font-size: 50%;
        // min
    }

    &-products {
        margin-top: 4rem;
    }
}

.animated_gradient_bg {
    background: linear-gradient(45deg, #4709b1b4, #0914b4a4, #0a7da793, #9e0aaf94, #75bd0991);
    background-size: 1000% 400%;
    animation: gradient 10s ease infinite;

    &.text {
        background: linear-gradient(45deg, #5108cee1, #0917ced3, #0b97cace, #b408c7cb, #84d807d8);
        background-size: 1000% 400%;
        animation: gradient 5s ease infinite;
    }

    &.textS {
        background: linear-gradient(45deg, #5108cee1, #0917ced3, #0b97cace, #b408c7cb, #84d807d8);
        background-size: 1000% 400%;
        background-clip: text;
        color: transparent;
        animation: gradient 5s ease infinite;
    }

    &.animFalse {
        background: linear-gradient(45deg, #4709b1b4, #75bd0991);
        background-size: 100% 200%;
        animation: none;
    }
}