.homeView {
    padding: 1rem 0;

    &-container {
        text-align: center;
        width: 100%;
    }

    & .text-dynamique {
        width: fit-content;
        display: inline-block;
        line-height: 3.5vw;
        font-size: clamp(2.5vw, 2vw, 32px) !important;


        & span {
            background: linear-gradient(45deg, #6106fd, #0413e4, #11b4f0, #ea05ff, #a0ff08);
            background-size: 1000% 400%;
            animation: gradient 10s ease infinite;
            background-clip: text;
            color: transparent;
            display: block;

            &.nof {
                display: inline-block;
            }
        }

        // font-size: 50%;
        // min
    }

    &-products {
        margin-top: 4rem;
    }
}
